/* Umum */
body {
    background: #f9f3ee;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Assistant:wght@200;300;400;500;600;700&family=Fredoka:wght@300;400;500&family=Lobster&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

/* link" */
a {
    text-decoration: none;
    color: #03c4eb;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #03c5ec;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Bagian Home -hero*/
#hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg1.png) top center;
    background-size: cover;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero .hero-logo {
    margin: 20px;
    height: 280px;
}

#hero .hero-logo img {
    max-width: 100%;
}

#hero .hero-container {
    background: rgba(0, 0, 0, 0.7);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 768px) {
    #hero img {
        font-size: 25px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #ccc;
    margin-top: 20px;
    opacity: 1;
    line-height: 40px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 22px;
        line-height: 26px;
        margin-top: 10px;
    }
}

#hero .rotating>.animated {
    display: inline-block;
}

#hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.5s;
    color: #fff;
}

#hero .btn-get-started {
    background: #b9b9b97d;
    border: 2px solid #dcd9d9;
    padding: 30px;
}

#hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

/* Bagian galeri - header/navbar */
#header {
    background: #f9f3ee;
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
}

@media (max-width: 992px) {
    #header {
        height: 60px;
    }
}

#header.fixed-top {
    background: #f9f3ee;
    opacity: 0.8;
}

#header .logo {
    margin: 0;
    padding: 0;
}

.scrolled-offset {
    margin-top: 70px;
}

@media (max-width: 992px) {
    .scrolled-offset {
        margin-top: 60px;
    }
}

/* Navbar */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 40px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #512c1d;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #d54f4e;
}

/* tampilan mobile  */
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #333333;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #03c4eb;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

/* Title - How to use page */
.title-page {
    font-size: 32px;
    color: #5c3424;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
}

.description {
    text-align: center;
    margin-bottom: 40px;
}

.section-title-page {
    width: 50px;
    height: 3px;
    background: #f8e9dd;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Bagian Galeri */
#portfolio .container-fluid .banner {
    background-size: cover;
    padding: 0;
    margin: 0;
}

#portfolio #portfolio-flters {
    padding: 30px;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #666666;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    color: #d54f4ecc;
}

#portofolio .portfolio-container {
    padding: 30px;
    margin: 20px;
}

#portfolio .portfolio-item img {
    width: 270px;
    height: 380px;
}

#portfolio .portfolio-item .bd-highlight {
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
}

#portfolio .portfolio-item .bd-highlight p {
    margin-top: -20px;
    color: #757575;
    font-size: 15px;
}

#portfolio .portfolio-item:hover h4 {
    margin-top: 5px;
    color: #202020;
    opacity: 2;
}

#portfolio .portfolio-item:hover .bd-highlight {
    margin-top: 5px;
    opacity: 2;
}

/* Icons */
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bi-house-door-fill::before {
    content: "\f1cb";
}

.bi-house-door::before {
    content: "\f1cc";
}

/* Services Info Section */
#services .container {
    background-color: rgb(255, 251, 251);
}

#services .service-item {
    margin-bottom: 20px;
}

#services .service-icon {
    float: left;
    background: #cc7171cc;
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid #ce5858cc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

#services .service-icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

#services .service-item:hover .service-icon {
    background: #fff;
}

#services .service-item:hover .service-icon i {
    color: #ce5858cc;
}

#services .service-title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#services .service-title a {
    color: #5c3424;
}

#services .service-description {
    margin-left: 80px;
    line-height: 24px;
}


.book-search {

    background-size: cover;
    background-position: center;
    padding: 175px 0;
    background-image: url(../img/head-banner.png);
}

input[type="search"] {

    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border-radius: 5px;
}

.searched-book {
    min-height: 100vh;

}

.searched-book .title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#bookdetails {
    min-height: 180vh;

}

.bookall {
    position: relative;
    width: 100%;
    padding: 60px 0px;
    margin-top: -40px;

}

.bookall .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "cover detail";
    grid-gap: 10px;
}

.book {
    padding: 40px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.cover {
    grid-area: cover;
}

.detail {
    grid-area: detail;
}

.btn-primary {
    float: right;
}

@media (max-width: 991px) {
    .bookall {
        padding: 20px;
    }

    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "cover"
            "detail";

    }

    .cover {
        display: flex;
        justify-content: center;
    }


}


.peminjaman {
    min-height: 100vh;
}

#footer {
    background: #f7f8f9;
    padding: 0 0 30px 0;
    color: #364146;
    font-size: 14px;
}

#footer .footer-top {
    color: #fff;
    background: #d8aa63;
    padding: 40px 0 20px 0;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

#footer .footer-top .footer-links ul {
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #d54f4e;
}

#footer .copyright {
    height: 20px;
    text-align: center;
    padding-top: 10px;
}
